*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
  }
  
  body{
    background-color: white;
    overflow-x: hidden;
  
  }
  
  nav{
    background-color: rgb(0, 130, 252);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height:70px ;
    padding: 0 100px;
  }
  
  nav .logo{
    color: white;
    font-size: 30px;
    font-weight:600;
    letter-spacing: -1px;
  }
  
  nav ul{
    display: flex;
    list-style: none;
    padding: 0 0 0 40px;
  }
  
  nav ul li{
    padding: 0 15px;
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  nav ul li a:hover{
    color:#0b7dda;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 15px;
  }
  
  
  form.search button {
    display: flex;
    width: 20%;
    justify-content: left;
    padding: 10px;
    background: rgb(0, 130, 252);
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; 
    cursor: pointer;
    border-radius: 15px;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  nav .search-icon{
    opacity: 0;
  }
  
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }
  .menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.6s;
    
  }
  
  .menu-toggle span:nth-child(2){
    transform-origin: 100% 0 ;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: 100% 0 ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(-45deg) translate(0, -1px);
    
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(45deg) translate(2px, 1px);
    
  }
  
  .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
  }
  
  
  @media screen and (max-width: 664px){
    form.search input{
        display: none;
    }
  
    form.search button{
       display: none;
    }
  }
  
  /* Mobile Screen */
  @media screen and (max-width: 863px){
    nav ul{
        position: absolute;
        right: -10%;
        flex-direction: column;
        background-color:  rgb(0, 130, 252);
        justify-content: space-evenly;
        height: 100%;
        top: 10%;
        left: 70%;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
     }
  
    form.search input{
        position: relative;
        width: 20%;
    }
  
    form.search button{
        width: 20%;
        position: relative;
  
    }
  
    nav ul.slide{
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
    }
  }
  
  @media screen and (max-width: 1245px){
    nav ul{
        width: 30%;
    }
    form.search input{
        width: 20%;
    }
  
    form.search button{
        width: 20%;
    }
  }
  
  .container{
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  h2{
    text-align: left;
    margin-top: 1%;
    margin-left: 100px;
    color:rgb(0, 130, 252);
  }

  .category-item .img-box {
    display: flex;
    justify-content: space-between;
	height: 160px;
	width: 110%;
    position: relative;
    
}
  .category-item .img {	
	max-width: 110%;
	max-height: 110%;
	position: relative;
    bottom: 0;
    top: 2px;
  }

  .bottom{
  font-size:20px ;
  font-family: 'karla', sans-serif;
  text-align: center;
  position: absolute;
  justify-content: center;
  background-color: rgb(0, 130, 252);
  color: white;
  width: 100%;
  height: 5%;
  bottom: 0;
  }